@font-face {
  font-family: "Cormoran";
  src: url("../fonts/CormorantGaramond-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Cormoran";
  src: url("../fonts/CormorantGaramond-Regular.ttf");
  font-weight: 400;
}