.main {
  position: relative;
  height: 100vh;

  &__filter {
    position: absolute;
    width: 100%;
    z-index: 2;
    box-shadow: 17px 21px 50px 244px rgba(0, 0, 0, 0.39);

    @media (max-width: 1100px) {
      box-shadow: 17px 21px 50px 100px rgba(0, 0, 0, 0.39);
    }
  }
}

.mySwiper {
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;

    text-transform: uppercase;
    font-size: 50px;

    @media (max-width: 600px) {
      width: 100%;
      font-size: 32px;
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: white;

    @media (max-width: 650px) {
      display: none;
    }
  }

}

.kitchen {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  z-index: 1;

  @media (max-width: 1100px) {
    height: max-content;
    padding: 30px 16px;
  }

  &__text {
    position: inherit;
    width: 1400px;
    margin: 0 auto;
    color: white;
    z-index: 2;

    @media (max-width: 1500px) {
      padding-left: 40px;
    }

    @media (max-width: 1100px) {
      padding-left: 0;
    }
  }

  &__title {
    font-size: 46px;
    margin-bottom: 60px;
    color: white;

    @media (max-width: 600px) {
      margin-bottom: 30px;
      font-size: 32px;
    }
  }

  &__description {
    display: block;
    margin-bottom: 40px;
  }

  &__text-wrap {
    max-width: 500px;
    z-index: 2;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;
    transition: 0.3s;

    &:last-child {
      right: 0;
      left: auto;

      @media (max-width: 1100px) {
        display: none;
      }
    }

    &:nth-child(2) {

      @media (max-width: 1100px) {
        top: 0;
        width: 100%;
      }
    }

    &.active {
      top: -50px;
    }
  }

  &__btn {
    position: relative;
    padding: 16px 46px;
    border: 2px solid white;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: #694634;
    }

    &:active {
      color: white;
    }

    &::after {
      position: absolute;
      left: 50%;
      top: 0;
      content: "";
      width: 0;
      background-color: white;
      height: 100%;
      transition: 0.3s;
    }

    &:hover::after {
      left: 0;
      width: 100%;
      z-index: -1;
    }

    &:hover:active::after {
      left: 50%;
      width: 0;
      z-index: -1;
    }
  }

}

.price {
  padding-bottom: 140px;

  @media (max-width: 900px) {
    padding-bottom: 40px;
  }

  &__title {
    max-width: 820px;
    padding: 160px 0 140px;
    font-size: 50px;
    margin: 0 auto;
    color: #744e3b;
    text-align: center;

    @media (max-width: 900px) {
      font-size: 32px;
      padding: 60px 0 40px;
    }
  }

  &__text-block {
    display: flex;
    gap: 120px;
    height: max-content;

    @media (max-width: 1010px) {
      flex-direction: column;
      padding: 32px;
    }

    @media (max-width: 650px) {
      padding: 16px;
    }

  }

  &__img {
    width: 420px;
    height: 100%;
    object-fit: cover;

    @media (max-width: 1200px) {
      width: 220px;
    }

    @media (max-width: 1010px) {
      display: none;
    }
  }
}

.price-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 620px;


  &__img {
    width: 125px;
    height: 110px;
    object-fit: cover;
    margin-bottom: 36px;
  }

  &__dish {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    font-size: 22px;
    font-weight: 900;
    color: #744e3b;

    @media (max-width: 380px) {
      font-size: 18px;
    }

    span {
      font-weight: 400;
    }

  }

  &__wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: flex-start;
    gap: 34px;
    border-bottom: 1px solid #e6e6e6;
    padding: 42px 0;

    &:nth-child(3) {
      border-top: 1px solid #e6e6e6;
    }
  }

  &__type {
    font-size: 28px;
    font-weight: 900;
    color: #744e3b;
    margin-bottom: 84px;
  }

  &__description {
    color: #555555;
  }
}